<a-box
  visible="true"
  id="beatComponent"
  obj-model="obj: url(assets/models/beat.obj)"
  scale="1.5 1.5 1.5"
  #boxElement
  depth="0.3"
  height="0.3"
  width="0.3" 
  >
  <ng-container *ngIf="!isDot">
    <a-plane  
      obj-model="obj: url(assets/models/arrow.obj)"
      position="0 0 0.01"
      color="white"
      >
    </a-plane>
    <a-plane color="white"
              [attr.class]="className()"
              (hitstart)="firstPlaneColided()"
              position="0 0.14 0"
              rotation="90 0 0"
              scale="0.29 0.3 1"
              opacity="0">

    </a-plane>
    <a-plane color="white"
              [attr.class]="className()"
              (hitstart)="secondPlaneColided($event)"
              position="0 -0.14 0"
              rotation="90 0 0"
              scale="0.29 0.3 1"
              opacity="0">

    </a-plane>
  </ng-container>
  <ng-container *ngIf="isDot">
    <a-plane *ngIf="isDot"
    color="white"
    position="0 0 0.15"
    scale="0.1 0.1 0.1">
  </a-plane>
  <a-plane color="white"
              [attr.class]="className()"
              (hitstart)="firstDotPlaneColided()"
              position="0 0 0.14"
              rotation="0.45 0 0"
              scale="0.29 0.3 1"
              opacity="0">

    </a-plane>
    <a-plane color="white"
              [attr.class]="className()"
              (hitstart)="secondDotPlaneColided()"
              position="0 0 -0.14"
              rotation="0.45 0 0"
              scale="0.29 0.3 1"
              opacity="0">
    </a-plane>
  </ng-container>

</a-box>