<a-scene  stats antialias='true' vr-mode-ui="enabled: true">
    <a-entity id="player">
      <a-camera id="camera" #camera [attr.position]="getCameraPosition()">
        <a-text id="areaWarning" value="Warning you are out of play area!" color="red" position="0 -0.2 -0.5" height="0.5" width="1" align="center"></a-text>
      </a-camera>
      <a-entity windows-motion-controls="hand: left" aabb-collider="objects: .box"></a-entity>
      <a-entity windows-motion-controls="hand: right" laser-controls="hand: right"></a-entity>
    </a-entity>
    <ng-container *ngIf="actualScene == 0">
        <a-game></a-game>
    </ng-container>

    <ng-container *ngIf="actualScene == 1">
        <a-menu></a-menu>
    </ng-container>

    <ng-container *ngIf="actualScene == 2">
        <a-single-player-menu></a-single-player-menu>
    </ng-container>

    <ng-container *ngIf="actualScene == 3">
        <a-party-menu></a-party-menu>
    </ng-container>

    <ng-container *ngIf="actualScene == 4">
        <a-how-to-play></a-how-to-play>
    </ng-container>

    <ng-container *ngIf="actualScene == 5">
        <a-credits></a-credits>
    </ng-container>

<a-sky material="color: #294757" id="sky"></a-sky>
<a-plane color="black" id="ground" rotation="-90 0 0" width="4" height="3"></a-plane>
</a-scene>
