<a-scene stats physics='gravity: -1.6' antialias='true'>
  <a-entity #player id="player">
    <a-entity windows-motion-controls="hand: left" aabb-collider="objects: .box"></a-entity>
    <a-entity windows-motion-controls="hand: right" laser-controls="hand: right"></a-entity>
  </a-entity>

  <a-entity
    position="-3.17 2 -1.54"
    rotation="0 70 0"
    geometry="primitive: plane; width: 4; height: 2.5"
    material="color: #00001f"
    text="value: This text will be 4 units wide.">
  </a-entity>

  <a-entity
    position="0 2 -3.5"
    geometry="primitive: plane; width: 4; height: 2.5"
    material="shader: html; target: #htmlElement;">
    <app-central-screen></app-central-screen>
  </a-entity>

  

  <a-entity
    position="3.17 2 -1.54"
    rotation="0 -70 0"
    geometry="primitive: plane; width: 4; height: 2.5"
    material="color: #00001f"
    text="value: This text will be 4 units wide.">
  </a-entity>
  
  <a-sky material="color: #294757" id="sky"></a-sky>
  <a-plane color="black" id="ground" rotation="-90 0 0" width="4" height="3"></a-plane>
</a-scene>

