<a-scene stats physics='gravity: -1.6' antialias='true'>
  <a-entity #player id="player">
    <a-entity windows-motion-controls="hand: left" aabb-collider="objects: .box"></a-entity>
    <a-entity windows-motion-controls="hand: right" laser-controls="hand: right"></a-entity>
  </a-entity>


  <ng-container *ngFor="let cubito of cubo">

      <a-box  [attr.position]="cubito.position"
              [attr.width]="cubito.height"
              [attr.height]="cubito.height"
              [attr.depth]="cubito.height"
              class="box"
              #boxes id="boxes"
              color="blue"
              (click)="onClick($event)"
              (hitstart)="onIntersected($event)">
      </a-box>

  </ng-container>
  <a-sky color="#6EBAA7"></a-sky>
  <a-plane color="black" rotation="-90 0 0" width="4" height="3"></a-plane>
</a-scene>

