
<!-- left panel -->
<a-gui-flex-container
  id="leftPanel"
  flex-direction="column" 
  justify-content="center" 
  align-items="normal" 
  component-padding="0.1"
  opacity="0.7" 
  width="4" 
  height="2.5"
  position="-3.17 2 -1.54" rotation="0 70 0"
  panel-color="#00001f"
></a-gui-flex-container>
<!-- center panel -->
<a-gui-flex-container
  id="centerPanel"
  flex-direction="row" 
  justify-content="center" 
  align-items="normal" 
  component-padding="0.1"
  opacity="0.7" 
  width="4" 
  height="2.5"
  position="0 2 -3.5" rotation="0 0 0"
  panel-color="#00001f"
>
</a-gui-flex-container>
<a-gui-flex-container
  id="centerPanelSongs"
  flex-direction="column" 
  justify-content="center" 
  align-items="normal" 
  component-padding="0.1"
  opacity="0.7" 
  width="1.7" 
  height="2"
  position="-0.8 2 -3.49" rotation="0 0 0"
  panel-color="#00001f"
>
  <ng-container *ngFor="let song of songs">
    <a-gui-button
      [attr.value]="song.name"
      font-size="30px"
      width="1" height="0.2"
      font-family="Impact"
      margin="0.05 0.05 0.05 0.05"
      toggle="true"
    >
    </a-gui-button>
  </ng-container>
</a-gui-flex-container>
<!-- right panel -->
<a-gui-flex-container
  id="rightPanel"
  flex-direction="column" 
  justify-content="center" 
  align-items="normal" 
  component-padding="0.1"
  opacity="0.7" 
  width="4" height="2.5"
  position="3.17 2 -1.54" rotation="0 -70 0"
  panel-color="#00001f"
></a-gui-flex-container> 