<a-scene stats physics='gravity: -1.6' antialias='true'>
  <a-entity id="player">
    <a-entity windows-motion-controls="hand: left" aabb-collider="objects: .box"></a-entity>
    <a-entity windows-motion-controls="hand: right" laser-controls="hand: right"></a-entity>
  </a-entity>
    <!-- left panel -->
  <a-gui-flex-container
    id="leftPanel"
    flex-direction="column" 
    justify-content="center" 
    align-items="normal" 
    component-padding="0.1"
    opacity="0.7" 
    width="4" 
    height="2.5"
    position="-3.17 2 -1.54" rotation="0 70 0"
    panel-color="#00001f"
  >
    <ng-container id="leftPanelText" *ngFor="let line of leftPanelLines">
      <a-entity [attr.position]="line.position">
          <a-gui-label 
            width="3.8" height="0.2"
            [attr.value]="line.text"
            font-family="Impact"
            [attr.font-size]="line.fontSize"
            background-color="#00001f"
            font-color="white"
          >
          </a-gui-label>
      </a-entity>
    </ng-container>
    
  </a-gui-flex-container>
  <!-- center panel -->
  <a-gui-flex-container 
    flex-direction="column" 
    justify-content="center" 
    align-items="normal" 
    component-padding="0.1"
    opacity="0.7" 
    width="4" 
    height="2.5"
    position="0 2 -3.5" rotation="0 0 0"
    panel-color="#00001f"
  >
  <a-entity id="menu">
    <a-entity id="single-player-btn" position="-1.210 0.065 0.01">
        <a-gui-button
        value="Single Player"
        font-size="60px"
        width="1" height="1"
        font-family="Impact"
        margin="0 0 0.05 0"
        (click)="onPlay()"
        toggle="true"
      >
      </a-gui-button>
    </a-entity>
    <a-entity id="party-btn" position="0.091 0.065 0.01">
        <a-gui-button
        value="Party"
        font-size="60px"
        width="1" height="1"
        font-family="Impact"
        margin="0 0 0.05 0"
        (click)="onPlay()"
        toggle="true"
      >
      </a-gui-button>
    </a-entity>
    <a-entity position="1.314 0.065 0.01">
      <a-entity position="0 0.291 0" style="border-radius: 10%">
        <a-gui-button
          value="How to play"
          font-size="60px"
          width="1" height="0.4"
          font-family="Impact"
          margin="0 0 0.05 0"
          (click)="onPlay()"
          toggle="true"
        >
        </a-gui-button>
      </a-entity>
      <a-entity position="0 -0.291 0">
        <a-gui-button
          value="Credits"
          font-size="60px"
          width="1" height="0.4"
          font-family="Impact"
          margin="0 0 0.05 0"
          (click)="onPlay()"
          toggle="true"
        >
        </a-gui-button>
      </a-entity>
      
    </a-entity>
  
  </a-entity>
  
  </a-gui-flex-container>
  <!-- right panel -->
  <a-gui-flex-container 
    flex-direction="column" 
    justify-content="center" 
    align-items="normal" 
    component-padding="0.1"
    opacity="0.7" 
    width="4" height="2.5"
    position="3.17 2 -1.54" rotation="0 -70 0"
    panel-color="#00001f"
  >
  <ng-container id="rightPanelText" *ngFor="let line of rightPanelLines">
      <a-entity [attr.position]="line.position">
          <a-gui-label 
            width="1.5" height="0.2"
            [attr.value]="line.text"
            font-family="Impact"
            [attr.font-size]="line.fontSize"
            background-color="#00001f"
            font-color="white"
          >
          </a-gui-label>
      </a-entity>
    </ng-container>
    
    <a-entity position="-0.4 0.7 0">
      <a-gui-button
        value="All"
        font-size="30px"
        width="0.3" height="0.2"
        font-family="Impact"
        margin="0 0 0.05 0"
        (click)="onPlay()"
        toggle="true"
      >
      </a-gui-button>
    </a-entity>
    <a-entity position="0 0.7 0">
      <a-gui-button
        value="Free Play"
        font-size="30px"
        width="0.4" height="0.2"
        font-family="Impact"
        margin="0 0 0.05 0"
        (click)="onPlay()"
        toggle="true"
      >
      </a-gui-button>
    </a-entity>
    <a-entity position="0.4 0.7 0">
      <a-gui-button
        value="Party"
        font-size="30px"
        width="0.3" height="0.2"
        font-family="Impact"
        margin="0 0 0.05 0"
        (click)="onPlay()"
        toggle="true"
      >
      </a-gui-button>
    </a-entity>
  
  </a-gui-flex-container>

  <a-sky material="color: #294757" id="sky"></a-sky>
  <a-plane color="black" id="ground" rotation="-90 0 0" width="4" height="3"></a-plane>
</a-scene>


