<!-- #region left panel -->
<a-entity
  id="main"
  class="screen dark main"
  htmlembed="ppu:256"
  style="opacity: 1"
  position="-4 2 -1"
  rotation="0 70 0"
>
  <div style="margin-top: 15%">
    <div *ngFor="let line of leftPanelLines" class="col-md-12 textFont">
      {{ line.text }}
    </div>
  </div>
</a-entity>
<!-- #endregion -->
<!-- #region center panel -->
<a-entity
  id="main"
  class="screen dark main"
  htmlembed="ppu:256"
  style="opacity: 1"
  position="0 2 -3.5"
>
  <div class="row">
    <div class="col textFont" style="font-size: 50px; border-radius: 20px; background-color: rgba(2, 2, 12, 0.048); ">Main menu</div>
  </div>
  <div class="row" style="margin-top: 15%">
    <button
      class="button col textFont"
      style=" width: 230px; height: 220px; text-align: center;  margin-left: 3%"
      (click)="goToSinglePlayerMenu()"
    >
      Single player
    </button>
    <button
      class="button col textFont"
      style=" width: 230px; height: 220px; text-align: center;  margin-left: 2%"
      (click)="goToParty()"
    >
      Party
    </button>
    <button
      class="button col textFont"
      style=" width: 230px; height: 220px; text-align: center;  margin-left: 2%"
      (click)="goToParty()"
    >
      Party
    </button>
    <div class="col">
      <button
        class="button col-md-12 textFont"
        style=" width: 230px; height: 100px; text-align: center;  margin-left: 2%"
        (click)="goHowToPlay()"
      >
        How to play
      </button>
      <button
        class="button col-md-12 textFont"
        style="position: relative ; width: 230px; height: 100px; text-align: center; "
        (click)="goHowToCredits()"
      >
        Credits
      </button>
    </div>
  </div>
</a-entity>
<!-- #endregion -->
<!-- #region right panel -->
<a-entity
  class="screen dark main"
  htmlembed="ppu:256"
  position="4 2 -1"
  rotation="0 -70 0"
>
  <div class="col-md-12">
    <h1 class="textFont" style="font-size: 50px; padding-top: 10px">Player statistics</h1>
  </div>
  <div class="row" style="width: 30%; margin-left: 35%; margin-top:3%; border-radius: 20px; background-color: rgba(2, 2, 12, 0.048)">
    <button
      class="button col textFont"
      style="width: 100px; height: 50px; text-align: center; font-size: 20px;"
      (click)="goHowToCredits()"
    >
      All
    </button>
    <button
      class="button col-6 textFont"
      style="width: 400px; height: 50px; text-align: center; font-size: 20px; margin-left: 2%"
      (click)="goHowToCredits()"
    >
      Single player
    </button>
    <button
      class="button col textFont"
      style="width: 100px; height: 50px; text-align: center; font-size: 20px; margin-left: 2%"
      (click)="goHowToCredits()"
    >
      Party
    </button>
  </div>
  <div
    class="row"
    style="margin-top: 5%; background-color: rgba(2, 2, 12, 0.199); border-radius: 20px;"
  >
    <div class="col">
      <div *ngFor="let line of rightPanelLines" class="col-md-12 textFont">
        {{ line.text }}
      </div>
    </div>
    <div class="col">
      <div *ngFor="let line of rightPanelLines" class="col-md-12 textFont">
        {{ line.text }}
      </div>
    </div>
  </div>
</a-entity>
<!-- #endregion -->